{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Accessibility</h1>

      <h2 class="govuk-heading-l">Accessible Needs</h2>
      <p>It can be hard to understand what needs to be done in terms of accessibility, and why it is required, if you do not have any needs yourself.</p>
      <p>On your device, go to Settings > Accessibility > VoiceOver, and enable VoiceOver.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Using <a href="https://media.dequeuniversity.com/courses/generic/testing-screen-readers/2.0/en/docs/voiceover-macos-guide.pdf" class"govuk-link">this tutorial</a>, try and navigate through a website like <a href="https://www.gov.uk/" class="govuk-link">GOV.UK</a>.</li>
        <li>Now try using the screen reader to navigate <a href="https://news.ycombinator.com/" class="govuk-link">Hacker News</a>.</li>
      </ul>
      <p>You can see there is a big difference between the two websites, and that if you could only hear what the reader is telling you, it would be very difficult and often frustrating to perform tasks we take for granted everyday.</p>
      <p>As a smaller exercise, on your device go to Settings > Accessibility > Display > Invert Colours. Try and navigate some websites, and you might find there are some difficult aspects of using the web in this format.</p>
      <p>In reality, some people are forced to use these settings for their entire lives. It is often a good exercise to remind yourself of the importance of accessibility.</p>

      <p><a href="/theory/accessibility/aria">Next (Accessibility: ARIA)</a></p>
    </div>
  </div>    
{% endblock %}