{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Accessibility</h1>

      <h2 class="govuk-heading-l">ARIA</h2>
      <p>Accessible Rich Internet Applications (ARIA) is a set of attributes we can use on the web to help define web content to those with accessibility needs.</p>
      <p>In some of HMRC’s patterns, we use ARIA to define a multitude of things to users, such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>The role of different elements</li>
        <li>Whether a button or link is the currently selected one in a list.</li>
        <li>Have an element be hidden on the page, but still be read to a screen reader. </li>
      </ul>
      <p>We will use some aria attributes when creating our component, so more on this later. For more information on ARIA, use the <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA" class="govuk-link">MDN documentation</a>.</p>

      <p><a href="/theory/accessibility/axe">Next (Accessibility: aXe)</a></p>
    </div>
  </div>
{% endblock %}