{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Accessibility</h1>

      <h2 class="govuk-heading-l">aXe</h2>
      <p>aXe is an accessibility testing tool, which HMRC includes in their code as a node.js package. We can use it in our test file for components to check that there are no accessibility issues with the pattern we create, which we will do later.</p>
      <p>aXe uses WCAG, so we can automatically discover some accessibility issues and keep in line with our AA requirement.</p>

      <p><a href="/theory/code/tdd">Next (Test Driven Development)</a></p>
    </div>
  </div>
{% endblock %}