{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">Accessibility</h1>

      <h2 class="govuk-heading-l">WCAG</h2>
      <p>As HMRC is a national civil service, the services they provide must cater to everyone. Services must achieve WCAG 2.1 level AA as part of meeting government accessibility requirements.</p>
      <p>WCAG is based on 4 principles:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Perceivable</li>
        <li>Operable</li>
        <li>Understandable</li>
        <li>Robust</li>
      </ul>
      <p><strong>Perceivable</strong> refers to users being able to recognise and use the service with senses available to them. Alt text for non-text content, transcripts for audio/video, logically structured content, semantic HTML, and responsive design all lead into this.</p>
      <p><strong>Operable</strong> refers to users being able to find and use the content within the service, regardless of how they choose to access it. Correct keyboard control/focus, control over moving content, descriptive hyperlinks, and meaningful headers/labels all lead into this.</p>
      <p><strong>Understandable</strong> refers to users being able to understand the content and how the service works. Using plain English, short sentences, explaining abbreviations, consistent layouts, and meaningful form labels all lead into this.</p>
      <p><strong>Robust</strong> refers to the content being interpreted reliably by a wide variety of users, including outdated, current and anticipated browsers or assistive technology. Using valid HTML and purposeful markup lead into this.</p>
      <p>For more information, go to the <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/understanding-wcag" class="govuk-link">GOV.UK WCAG guidance</a>.</p>

      <p><a href="/theory/accessibility/accessible-needs">Next (Accessibility: Accessible Needs)</a></p>
    </div>    
  </div>
{% endblock %}