{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Install Node with NVM</h1>

      <p>Node.js is used in HMRC both for use of JavaScript on the server, and for NPM, or Node Package Manager. We can install Node on our devices normally, however if done through NVM, we have more control over which version of Node we are using, which can be beneficial in the future.</p>

      <p>To install NVM, follow the instructions on their <a href="https://github.com/nvm-sh/nvm#installing-and-updating">GitHub repo. You can then type:</a></p>




{% endblock %}
