{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-two-thirds">

    <h1 class="govuk-heading-xl">Installing Visual Studio Code</h1>

    <p>To write code, we need an IDE, or code editor. The most popular choice and commonly used in HMRC is Visual Studio
      Code or VSCode. You can install a different code editor, but this page will get you set up with VSCode and some
      other helpful extensions.</p>

    <h2 class="govuk-heading-l">Get started</h2>
    <p><a href="https://code.visualstudio.com/download">Install VSCode</a></p>
    <p>VSCode allows us to install extensions which can help improve workflow. Here are a few recommendations and how to
      install them:</p>
    <ol>
      <li>
        <p>Open VSCode. On the sidebar, there should be an icon that looks like this: <br><img src="/public/images/extension-icon.png" alt="Extension icon in VSCode"> </p>
      </li>
      <li>
        <p>Open this section, and you will now see a search bar and a list of recommended extensions. You can install
          any you think will be helpful, but here are a few:</p>
      </li>
      <ul>
        <li>
          <p>ESLint</p>
        </li>
        <li>
          <p>GitLens</p>
        </li>
        <li>
          <p>Nunjucks</p>
        </li>
        <li>
          <p>Docker</p>
        </li>
      </ul>
    </ol>
    <p>Don't worry about understanding how VSCode or the extensions work yet; we'll get to that. For now, move on to
      looking into Git.</p>

    <p><a href="/setup/using-git">Next (Using Git)</a></p>
  </div>
</div>
{% endblock %}