{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Using Git</h1>

      <p>Git is a tool to track changes in files and allow collaboration between developers. This is done by organising
      code into repositories or repos, which contain all the code for different services across HMRC.</p>

      <p>The primary repos we use as frontend developers are <a href="https://github.com/hmrc/design-system">HMRC Design
        System</a> and <a href="https://github.com/hmrc/hmrc-frontend">HMRC Frontend</a>. It may be good to make note of
      the larger GOVUK repos, <a href="https://github.com/alphagov/govuk-design-system">GOVUK Design System</a> and <a
        href="https://github.com/alphagov/govuk-frontend">GOVUK Frontend</a>.</p>

      <p>Most commands you’ll need to work for HMRC can be done through GitHub’s <a
        href="https://desktop.github.com/">Desktop app</a>. However, best practice is to learn to use git at the command
      line, for more control. Frame <a href="https://www.atlassian.com/git/tutorials/atlassian-git-cheatsheet">this
        cheatsheet</a> and hang it above your desk!</p>

      <h2 class="govuk-heading-l">Get started</h2>
      <p>You should clone HMRC's Design System and HMRC Frontend. You could do this through GitHub Desktop, or try the
      command line:</p>

      
    {% endblock %}