{% extends "layout.html" %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
	  items: [
	    {
	      text: "Home",
	      href: "/"
	    },
      {
        text: "Code",
        href: "/code"
      },
      {
        text: "File Setup",
        href: "/code/file-setup"
      }
	  ]
	}) }}
{% endblock %}

{% from "../includes/_codeSnippet.njk" import codeSnippet %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">File setup</h1>

      <p>For this tutorial, we will be recreating an already live component known as <a href="https://design.tax.service.gov.uk/hmrc-design-patterns/timeline/">Timeline</a>. This component is a handy visual that can provide the user with a clearly defined timeline, which could be used to show different dates of payment, or dates in which a HMRC process will be completed in stages. Most of the code is provided for you, and you will be tasked with trying to write a section yourself, provided with some hints and reference to the real component code. The styling has also been fully provided. This is how Timeline looks:</p>
      <img width="700" src="/public/images/timeline.png" alt="Image of Timeline component">
      <br><br>

      <p>To start this tutorial, we will first need to set up our work environment, creating some folders and files that we can work in.</p>
      <br>

      <ul class="govuk-list govuk-list--number">
        <li>Open your terminal, and navigate to the hmrc-frontend GitHub repository that we cloned earlier. You can do this with the <em>cd</em> terminal command, followed by the filepath.</li>
        <li>Next, create a branch of hmrc-frontend. This is a version of the repository that you can make changes to and it will not affect the main version. You should give this a suitable name, such as <em>'yourname-placement-tutorial'</em>. The following command may help:</li>
        {{
          codeSnippet({
            code: 'git checkout -b yourname-placement-tutorial'
          })
        }}
        <li>This will create the branch with that name, and automatically move you on to it. Now we can type the following command to open our workspace.</li>
        {{
          codeSnippet({
            code: 'code .'
          })
        }}
        <li>Navigate to src/components. You will see there is a folder for each component inside hmrc-frontend. You should create your own with a name like <em>'tutorial-component'</em>.</li>
        <li>We can make the files in this folder that will make up our component. For each of the following file names, right click your new folder and create a file:</li>
          <ul class="govuk-list govuk-list--bullet">
            <li>template.test.js</li>
            <li>tutorial-component.yaml</li>
            <li>template.njk</li>
            <li>macro.njk</li>
            <li>_tutorial-component.scss</li>
          </ul>
        <li>Finally, add the changes made to the branch. This can be done with the following commands:</li>
        {{
          codeSnippet({
            code: 'git add --all
git commit -m "Initial file set up"
git push'
          })
        }}
      </ul>

      <p>This is all the set up we will need. In the next section, we can move on to creating our component, beginning with writing some tests to cover all aspects of Timeline.</p>

      <p><a href="/code/testing">Next (Creating timeline.test.js)</a></p>
    </div>    
  </div>
{% endblock %}