{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    <h1 class="govuk-heading-xl">Code</h1>
      
      <h3 class="govuk-heading-m">Introduction</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="code/file-setup">File Setup</a></li>
      </ul>

      <h3 class="govuk-heading-m">Timeline Component</h3>
      <ul class="govuk-list govuk-list--number">
        <li><a href="code/testing">Writing timeline.test.js</a></li>
        <li><a href="code/yaml">Writing timeline.yaml</a></li>
        <li><a href="code/nunjucks">Writing template.njk</a></li>
        <li><a href="code/scss">Writing _timeline.scss</a></li>
        <li><a href="code/checks">Final Checks</a></li>
      </ul>
      
    </div>    
  </div>
{% endblock %}