{% extends "layout.html" %}

{% block pageTitle %}
  Placement Frontend Tutorial
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Frontend Placement Student Tutorial</h1>{{releaseVersion | log }}
      <p>This tutorial will walk you through the creation of a pattern using HMRC's frontend stack.</p>

      <hr class="govuk-section-break govuk-section-break--visible">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
          <h2 class="govuk-heading-m">
            <a href="/docs/install" data-hinstall="Install">Setup</a>
          </h2>
          <p>Set up the tools you need to work in HMRC's frontend</p>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
          <h2 class="govuk-heading-m">
            <a href="/docs/tutorials-and-examples" data-htutorials="Tutorials and templates">Theory</a>
          </h2>
          <p>Understanding the tech stack, and other related frontend topics</p>
        </div>

        <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
          <h2 class="govuk-heading-m">
            <a href="/docs/about" data-habout="About">Tutorial</a>
          </h2>
          <p>Walkthrough of creating the Timeline pattern</p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}