{% extends "layout.html" %}

{% block pageTitle %}
  Placement Frontend Tutorial
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Frontend Placement Student Tutorial</h1>{{releaseVersion | log }}
      <p>This tutorial will walk you through the creation of a pattern using HMRC's frontend stack.</p>

      <hr class="govuk-section-break govuk-section-break--visible">

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter govuk-!-margin-top-6">
          <h2 class="govuk-heading-m">
            <a href="/setup">Setup</a>
          </h2>
          <p>Set up the tools you need to work in HMRC's frontend</p>
        </div>

        <div class="govuk-grid-column-one-quarter govuk-!-margin-top-6">
          <h2 class="govuk-heading-m">
            <a href="/theory">Theory</a>
          </h2>
          <p>Understanding the tech stack, and other related frontend topics</p>
        </div>

        <div class="govuk-grid-column-one-quarter govuk-!-margin-top-6">
          <h2 class="govuk-heading-m">
            <a href="/code">Code</a>
          </h2>
          <p>Walkthrough of creating the Timeline pattern</p>
        </div>

        <div class="govuk-grid-column-one-quarter govuk-!-margin-top-6">
          <h2 class="govuk-heading-m">
            <a href="/quick-links">Quick Links</a>
          </h2>
          <p>Some helpful links to assist your learning</p>
        </div>

      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      
    </div>
  </div>

{% endblock %}