{% extends "layout.html" %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
	  items: [
	    {
	      text: "Home",
	      href: "/"
	    },
      {
        text: "Quick Links",
        href: "/quick-links"
      }
	  ]
	}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Quick Links</h1>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/understanding-wcag">Understanding WCAG (Accessibility)</a></li>
        <li><a href="https://media.dequeuniversity.com/courses/generic/testing-screen-readers/2.0/en/docs/voiceover-macos-guide.pdf">VoiceOver Guide</a></li>
        <li><a href="https://cheerio.js.org/">Cheerio Documentation</a></li>
        <li><a href="https://jestjs.io/docs/26.x/getting-started">Jest Documentation</a></li>
        <li><a href="http://expressjs.com/en/api.html">Express Documentation</a></li>
        <li><a href="https://sass-lang.com/documentation">SCSS Documentation</a></li>
        <li><a href="https://mozilla.github.io/nunjucks/">Nunjucks Documentation</a></li>
        <li><a href="https://github.com/hmrc/design-system">HMRC Design System GitHub repo</a></li>
        <li><a href="https://github.com/hmrc/hmrc-frontend">HMRC Frontend GitHub repo</a></li>
      </ul>

    </div>
  </div>    
{% endblock %}