{% extends "layout.html" %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
	  items: [
	    {
	      text: "Home",
	      href: "/"
	    }
	  ]
	}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    <h1 class="govuk-heading-xl">Theory</h1>
      
      <h3 class="govuk-heading-m">Introduction</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="theory/new-pattern-process">New Pattern Process</a></li>
      </ul>

      <h3 class="govuk-heading-m">Accessibility</h3>
      <ul class="govuk-list govuk-list--number">
        <li><a href="theory/accessibility/wcag">WCAG</a></li>
        <li><a href="theory/accessibility/accessible-needs">Accessible Needs</a></li>
        <li><a href="theory/accessibility/aria">ARIA</a></li>
        <li><a href="theory/accessibility/axe">aXe</a></li>
      </ul>

      <h3 class="govuk-heading-m">Code</h3>
      <ul class="govuk-list govuk-list--number">
        <li><a href="theory/code/tdd">Test Driven Development</a></li>
        <li><a href="theory/code/yaml">YAML</a></li>
        <li><a href="theory/code/nunjucks">Nunjucks</a></li>
        <li><a href="theory/code/scss">SCSS</a></li>
      </ul>
      
    </div>    
  </div>
{% endblock %}